* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	font-family: sans-serif;
	flex-direction: column;
}

header {
	display: flex;
	width: 100%;
	height: 100px;
	background-image: linear-gradient(to right top, #0027de, #1122e7, #1f1cef, #2b12f7, #3600ff);
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

header h1 {
	color: white;
	font-size: 40px;
	font-weight: bold;
}

.content {
	display: flex;
	width: 100%;
	margin: 20px 0 0 0;
	flex-direction: row;
	height: 700px;
}

.search-bar {
	flex-direction: column;
	width: 20%;
	margin: 0 30px 0 10px;
	padding-top: 10px;
	height: 900px;
}

.search-results {
	width: 70%;
}

.search-city {
	display: block;
	font-weight: bold;
	font-size: 40px;
	height: 150px;
	border-bottom: black;
}

.search-city h1 {
	font-weight: bold;
	padding-bottom: 10px;
}

.search-input {
	display: block;
	font-size: large;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	padding-left: 5px;
	border: 1px;
	border-radius: 8px;
	border-width: 1px;
	border-style: inset;
	border-color: black;
}

.search-btn {
	display: block;
	width: 100%;
	height: 40px;
	background-color: #6ba2f6;
	color: gainsboro;
	font-weight: bold;
	font-size: large;
	border: thin solid #6ba2f6;
	border-radius: 5px;
	margin: 15px 0;
}

.cities {
	display: block;
	width: 100%;
	height: 550px;
	margin-top: 30px;
	border-top: medium solid black;
}

.city{
	display: block;
	height: 8%;
	background-color:#b7bdfa;
	color: black;
	font-weight: bold;
	font-size: large;
	border: thin solid #b7bdfa;
	border-radius: 5px;
	margin-top: 25px;
	padding: 10px 40%;
}

.city-statistics {
	display: flex;
	width: 100%;
	margin-bottom: 10px;
	height: 300px;
	flex-direction: column;
	border: thin solid black;
}

.main-labels {
	display: flex;
	flex-direction: row;
	margin:10px 0 10px 10px;
}

.city-name,
.main-date,
.main-icon {
	display: flex;
	font-weight: bold;
	font-size: 45px;
	height: 50px;
}

.main-date,
.main-icon {
	display: flex;
	font-weight: bold;
	margin-left: 10px;	
}

.main-temp,
.main-wind,
.main-humidity,
.uv-index {
	display: flex;
	flex-direction: row;
	height: 15%;
	width: 100%;
	font-size: 20px;
	margin: 15px 10px 0 10px;
}

.uv-container{
	background-color:darkseagreen;
	border: thin solid darkseagreen;
	border-radius: 5px;
	margin-left: 10px;
	padding-bottom: 10px;
	width:75px;
	height: 35px;
	color: white;
}

.five-day {
	width: 100%;
	height: 300px;
	align-items: center;
	padding-top: 10px;
}

.days-label {
	color: black;
	font-weight: bold;
	font-size: 30px;
	margin-bottom: 10px;
}

.days-container {
	display: flex;
	width: 100%;
	height: 90%;
	margin: auto;
}

.days-list {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.day {
	display: flex;
	width: 17.5%;
	height: 100%;
	background-color: royalblue;
	border: thin solid black;
}

.conditions-list {
	height: 100%;
	width: 100%;
}

.date,
.icon,
.temp,
.wind,
.humidity {
	display: flex;
	flex-direction: row;
	height: 15%;
	width: 100%;
	font-weight: bold;
	font-size: 20px;
	color: white;
	margin: 10px;
}

.date {
	margin-top: 5px;
	font-size: 30px;
}
